<!doctype html>
<html lang="en" data-ng-app="spide">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SPIDE">
    <meta name="author" content="isreehari">
    <link rel="icon" href="/favicon.ico">

    <title>SPIDE</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/node_modules/chosen-js/chosen.min.css" rel="stylesheet">    
    <link href="./assets/node_modules/bootstrap4c-chosen/dist/css/component-chosen.min.css" rel="stylesheet">
    <link href="./assets/node_modules/codemirror/lib/codemirror.css" rel="styleshee">
    <!-- Custom styles for this template -->
    <link href="./assets/css/customstyles.css" rel="stylesheet">
  </head>

  <body data-ng-controller="MainController as mainCtr">

    
    <!-- Fixed navbar -->
    <!-- <header>
    
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
          <a class="navbar-brand col-sm-1 col-md-1 mr-0" href="#">SPIDE</a>          
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="#">Sign In</a>
            </li>
          </ul>
        </nav>
    </header> -->

    <!-- Begin page content -->

    <div class="container-fluid">
        <div class="row">
          <nav class="col-md-1 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                  </a>
                </li>                
              </ul>
            </div>
          </nav>
          <main role="main" class="col-md-11 ml-sm-auto col-lg-11 spcode-main"> <!-- pt-3 px-4 -->
              <div class="row spcode-container">
                  <div class="col-6">
                      <div class="spcode-editor">
                            <div class="spcode-editor-code" data-ui-ace="mainCtr.aceOption" data-ng-model="mainCtr.spCodeEditor.code">  Ace here </div>
                            <div class="spcode-editor-footer"> 
                                <div class="spcode-editor-tools">
                                  <div class="container-fluid">

                                      <div class="row">
                                          <div class="col-md-3 speditor-lang"> 
                                                <select 
                                                    chosen
                                                    data-placeholder-text-single="'Pick one of lang'"                                                                  
                                                    data-ng-options="lang.lang for lang in mainCtr.listLanguages"
                                                    data-ng-model="mainCtr.spCodeEditor.lang"
                                                    data-ng-change="mainCtr.langChanged()"
                                                    name="spcodeEditorLang"
                                                    class="speditor-control ">
                                                    <option value=""></option>
                                                </select>
                                          </div>
            
                                          <div class="col-md-3 speditor-theme"> 
                                              <select 
                                                    chosen
                                                    data-placeholder-text-single="'Pick one of theme'"                                                                  
                                                    data-ng-options="theme.displayName for theme in mainCtr.listThemes"
                                                    data-ng-model="mainCtr.spCodeEditor.theme"
                                                    data-ng-change="mainCtr.themeChanged()"
                                                    name="spcodeEditorTheme"
                                                    class="speditor-control ">
                                                <option value=""></option>
                                              </select>
                                          </div>

                                          <div class="col-md-2 speditor-theme"> 
                                            <button type="button" data-ng-click="mainCtr.runCode()">  Run </button>
                                          </div>
            
                                          <div class="col-md-4"></div>
                                      </div>

                                  </div>
                                </div> <!-- spcode-editor-tools -->
                        </div>
                      </div>
                  </div> <!-- code editor -->
                  <div class="col-6"> 
                      
                      <div class="spcode-teriminal"> 

                          <div class="spcode-stdin">
                              <textarea name="stdin" class="form-control" placeholder="STDIN" data-ng-model="mainCtr.spCodeEditor.stdin" rows="8"></textarea>
                          </div>


                          <div class="spcode-stdout">
                              <textarea name="stdout" readonly="readonly" placeholder="STDOUT" class="form-control" rows="8">
                                {{mainCtr.spCodeEditor.stdOut.output}}
                              </textarea>                              
                          </div>

                          <div class="spcode-editor-footer"> 
                              <div class="spcode-editor-tools">
                                  <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">Code editor footer 2</div>
                                        </div>       
                                  </div>
                              </div> <!-- spcode-editor-tools -->          
                          </div>
                          

                      </div> <!-- spcode-teriminal -->
                  </div> <!-- teriminal -->
              </div>
          </main>
        </div>
      </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/node_modules/jquery/jquery.min.js" ></script>  
    <script src="./assets/node_modules/jquery-slim/dist/jquery.slim.min.js" ></script>    
    <script src="./assets/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./assets/node_modules/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="./assets/node_modules/angular/angular.min.js"></script>
    <script src="./assets/node_modules/chosen-js/chosen.jquery.min.js"></script>
    <script src="./assets/node_modules/angular-chosen-localytics/dist/angular-chosen.min.js"></script>
    <script src="./assets/node_modules/angular-ui-ace/src/ui-ace.js"></script>
    <script src="./assets/js/langs.js"></script>
    

    <script src="./assets/js/spide/app.js"></script>
    <script src="./assets/js/spide/directives.js"></script>
    <script src="./assets/js/spide/services.js"></script>
    <script src="./assets/js/spide/controllers.js"></script>
    <script src="./assets/js/customjs.js"></script>

  </body>
</html>
