/* Sticky footer styles
-------------------------------------------------- */
html {
   
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    position: relative;
    margin-bottom: 60px;
  }
  
  /*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px; /* Height of navbar */
  /* height: calc(100vh - 48px);
  padding-top: .5rem; */
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* end Sidebar */



/*
 * Navbar
 */

 .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


 /* main */
 .spcode-main{
   padding-left: 0px;
 }
 /* end main */


 /* Code container */


/* .spcode-container{
  margin-top: 56px;
} */
.spcode-editor, .spcode-teriminal{
  height : 100vh;
}

.spcode-editor-footer{
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    z-index: 99;
    /* Set the fixed height of the footer here */
    height: 66px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* end Code Container */



/* chosen container */



.chosen-container .chosen-drop {
  border-bottom: 0;
  border-top: 1px solid #aaa;
  top: auto;
  bottom: 40px;
}

.chosen-container.chosen-with-drop .chosen-single {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-image: none;
}

.chosen-container.chosen-with-drop .chosen-drop {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  box-shadow: none;
  
  margin-bottom: -16px;
}

/* end chosen container*/
